.popup-view{
    .modal-content{
        text-align: center;
    }
    .img-gallery{
        margin: auto;
        max-width: 200px;
    }
    .btn.btn-cancel{
        margin-right: 0;
    }
}