.template-product{
    .img-promotion{
        .item-normal{
            margin-left: 22px;
        }
    }
    .img-provider{
        img{
            height: 32px;
            object-fit: cover;
        }
    }
}